doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(type='text/css', rel='stylesheet', href='/stylesheets/main.css')
  link(type='text/css', rel='stylesheet', href='/stylesheets/timeline.css')
  link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  title=title
// #wrapper
div
  // Navigation
  nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    //- 包含header.jade内容 
    // /.navbar-top-links
    .navbar-default.sidebar(role='navigation')
      .sidebar-nav.navbar-collapse
        ul#side-menu.nav
          li.sidebar-search
            .input-group.custom-search-form
              input.form-control(type='text', placeholder='Search...')
              span.input-group-btn
                button.btn.btn-default(type='button')
                  i.fa.fa-search
            // /input-group
          li
            a(href='index.html')
              i.fa.fa-dashboard.fa-fw
              |  首页
          li
            a(href='#')
              em.fa.fa-bar-chart-o.fa-fw
              |  rom管理 
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='rom_mgr/fc.html')  FC-任天堂8位机 
              li
                a(href='rom_mgr/sfc.html')  SFC-任天堂16位机 
              li
                a(href='rom_mgr/sega.html')  SEGA-世嘉 
            // /.nav-second-level
          li
            a(href='tables.html')
              i.fa.fa-table.fa-fw
              |  Tables
          li
            a(href='forms.html')
              i.fa.fa-edit.fa-fw
              |  Forms
          li
            a(href='#')
              i.fa.fa-wrench.fa-fw
              |  UI Elements
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='panels-wells.html') Panels and Wells
              li
                a(href='buttons.html') Buttons
              li
                a(href='notifications.html') Notifications
              li
                a(href='typography.html') Typography
              li
                a(href='icons.html')  Icons
              li
                a(href='grid.html') Grid
            // /.nav-second-level
          li
            a(href='#')
              i.fa.fa-sitemap.fa-fw
              |  Multi-Level Dropdown
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='#') Second Level Item
              li
                a(href='#') Second Level Item
              li
                a(href='#')
                  | Third Level 
                  span.fa.arrow
                ul.nav.nav-third-level
                  li
                    a(href='#') Third Level Item
                  li
                    a(href='#') Third Level Item
                  li
                    a(href='#') Third Level Item
                  li
                    a(href='#') Third Level Item
                // /.nav-third-level
            // /.nav-second-level
          li
            a(href='#')
              i.fa.fa-files-o.fa-fw
              |  Sample Pages
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='blank.html') Blank Page
              li
                a(href='login.html') Login Page
            // /.nav-second-level
      // /.sidebar-collapse
    // /.navbar-static-side
  // /#wrapper
  //block page_script
  script(type="text/javascript", src="/javascripts/plugins/dist/jquery.min.js")
  script(type="text/javascript", src="/javascripts/plugins/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/plugins/metisMenu/dist/metisMenu.min.js")
  script(type="text/javascript", src="/javascripts/plugins/custom_theme.js")
  script(type="text/javascript", src="#{path_js_page}/admin.om.competency.cd_bbform.js")
