extends layout

block content
  head
    meta(http-equiv='refresh', content='0;url=pages/index')
    title 5lovegames后台管理系统
    script(language='javascript').
      window.location.href = "pages/index"
  | Go to 
  a(href='pages/index') /pages/index
